body {
    font-family: Arial, sans-serif;
    background-color: #e2dada;
}

#calculator {
    width: 400px;
    height: 600px;
    background-color: rgba(14, 14, 16, 0.896);
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 70px;
    border: solid;
    border-radius: 10px;
}


#display {
    height: 90px;
    width: 100%;
    background: whitesmoke;
    border-style: hidden;
    border-radius: 3px;
    color: rgb(41, 40, 40);
    font-size: 50px;
    padding: 10px;
    text-align: right;
    margin: 10px;
}

button {
    /* display: grid;*/
    width: 90px;
    height: 70px;
    font-weight: bold;
    font-size: 25px;
    border-radius: 20px;
}

.operator {
    background-color: orange;
}
